@import "variables"

input, button, textarea
  margin-top: 4px

input
  height: 5vh
#description
  width: 100%

input[type='button']
  height: 5vh

textarea
  text-align: left
  resize: none
  overflow: auto
  white-space: nowrap
  height: 40vh

.gist
  display: flex
  flex-direction: column

.additional-ways-enter-code, .form-action
  display: flex
  > input, button
    flex-grow: 1
  margin-bottom: 15px

.upload-file-btn
  display: none
