{% extends 'layout.html' %}

{% block title %} Gist {% endblock %}

{% block links %}
    <link rel="stylesheet" href="../../static/assets/css/gist-description.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
{% endblock %}

{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}

    <section class="head-wrap">
        <h1>Gist</h1>
    </section>

    {% if error %}
        <section class="error">
            {{ error }}
        </section>
    {% else %}

        <section class="gist-access">
            <span>{{ "public" if gist.is_public else "private" }}</span>
        </section>

        <section class="description">
            <h3>Description</h3>
            <p>{{ gist.description }}</p>
        </section>

        <section class="code">
            <h3>Code</h3>
            <section class="snippets">
                {% for snippet in gist.snippets %}
                    <section class="snippet">
                        <p><span class="filename">{{ snippet.filename }}</span>, language:
                            <span class="language">{{ snippet.language }}</span></p>
                        <section>
                            <pre><code>{{ snippet.code }}</code></pre>
                        </section>
                    </section>
                {% endfor %}
            </section>
        </section>

    {% endif %}

{% endblock %}