<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/layout.css">
    {% block links %}{% endblock %}
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/">Create</a></li>
            <li><a href="/discover">List of gists</a></li>
        </ul>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer></footer>

{% block scripts %}{% endblock %}
</body>
</html>