{% extends 'layout.html' %}

{% block title %}Create Gist{% endblock %}

{% block links %}
    <link rel="stylesheet" href="/static/css/gist-create.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/gist_create_init.js"></script>
{% endblock %}

{% block content %}

    <section class="head-wrap">
        <h1>Share your code</h1>
    </section>

    {% if errors %}
        <section class="errors">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </section>
    {% endif %}

    <form action="/post/gist" method="post">

        <input type="text" maxlength="255" id="description" name="description"
               placeholder="Gist description..." required>

        <section id="gists"></section>

        <section class="form-action">
            <input type="button" id="addBtn" value="Append new fragment">
            <button type="submit" name="public" value="0">Create secret gist</button>
            <button type="submit" name="public" value="1">Create public gist</button>
        </section>
    </form>

{% endblock %}

