{% extends 'layout.html' %}

{% block title %}Create Gist{% endblock %}

{% block links %}
    <link rel="stylesheet" href="/static/css/gist-create.css">
{% endblock %}

{% block scripts %}
    <script src="/static/js/gist-create.js"></script>
    <script src="../../static/js/upload-file.js"></script>
    <script src="../../static/js/style_input.js"></script>
{% endblock %}

{% block content %}

    <section class="head-wrap">
        <h1>Share your code</h1>
    </section>

    {% if error %}
        <section class="error">
            {{ error }}
        </section>
    {% endif %}

    <form action="/post/gist" method="post">

        <input type="text" maxlength="255" id="description" name="description"
               placeholder="Gist description..." required>

        <section id="gists">

            <section class="gist">
                <input type="text" maxlength="80" class="filename" name="filename"
                       placeholder="Filename including extension..." required>

                <input type="button" class="delBtn" value="Delete this fragment">

                <textarea name="code" class="codearea" required></textarea>

                <section class="additional-ways-enter-code">
                    <input type="button" id="upload-link" value="External link">
                    <button type="button" class="upload-file-btn-wrap">Upload file</button>
                    <input type="file" class="upload-file-btn" id="upload-file">
                </section>
            </section>

        </section>

        <section class="form-action">
            <input type="button" id="addBtn" value="Append new fragment">
            <button type="submit" name="public" value="0">Create secret gist</button>
            <button type="submit" name="public" value="1">Create public gist</button>
        </section>
    </form>

{% endblock %}

