{% extends 'layout.html' %}

{% block title %} Gist {% endblock %}

{% block content %}
    <h1>Gist</h1>

    <section>
        <h3>Description</h3>
        <p>{{ description if description else "no description" }}</p>
    </section>

    <section>
        <h3>Code</h3>
        <section class="snippets">
            {% for filename in gists.keys() %}
                <section class="snippets">
                    <h4>{{ filename }}</h4>
                    <section>{{ gists.get(filename, None) }}</section>
                </section>
            {% endfor %}
        </section>
    </section>


{% endblock %}