{% extends 'layout.html' %}

{% block title %}Discover{% endblock %}

{% block links %}
    <link rel="stylesheet" href="../../static/css/gist-list.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/default.min.css">
{% endblock %}

{% block scripts %}
    <script src="../../static/js/gist-list.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
    {% if not gists %}
        <section class="gists-wrap">
            <h2>There is no gists yet</h2>
        </section>
    {% else %}
        <section class="gists-wrap">
            <section class="gists">
                {% for gist in gists %}
                    <section class="gist">
                        <section class="description">
                            <span>{{ gist.description }}</span>
                        </section>
                        <section>
                            <section class="snippet-title">
                                file: <span class="filename">{{ gist.snippets[0].filename }}</span>,
                                number of files: <span class="number_files">{{ gist.snippets|length }}</span>
                            </section>
                            <section>
                                <pre><code>{{ info.get("get_preview")(gist.snippets[0].code) }}</code></pre>
                            </section>
                        </section>
                        <section>
                            <p>{{ gist.created_at }}</p>
                        </section>
                        <section><a href="/gist/{{ gist.link }}">view</a></section>
                    </section>
                {% endfor %}
            </section>
        </section>
        <section class="page_numbers">
            <ul>
                <li><a data-nav="prev">&#8249;</a></li>
                <li><a href="/discover/1">1</a></li>

                {% if info.get('last_page') > 1 %}

                    {% for i in info.get('page_numbers') %}

                        <li>
                            {% if i != "..." %}
                                <a href="/discover/{{ i }}">{{ i }}</a>
                            {% else %}
                                <p>{{ i }}</p>
                            {% endif %}
                        </li>

                    {% endfor %}

                    <li><a href="/discover/{{ info.get('last_page') }}" data-nav="last">{{ info.get('last_page') }}</a>
                    </li>

                {% endif %}

                <li><a data-nav="next">&#8250;</a></li>
            </ul>
        </section>
    {% endif %}
{% endblock %}
